<!-- About Section -->
<section style="background-image: url('../assets/img/header-bg2.jpg'); background-size: cover; background-attachment: fixed;" id="about" class="bg-light-gray">
<div class="container">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
            </div>
<div class="box"><div class="box-title"></div><div class="box-title">

<p style="font-size:18px;">Diversity of marine invertebrate is far greater than most people realize. In the Halanych lab, we are trying to understand how such extensive morphological variation came about by exploring questions on different time scales and with different types of genomic information. Combining a molecular systematic and/or genomic approach with information from organismal evolution has proved a powerful approach to study everything from the origin of major animal lineages to the recent biogeographic history of commercially important species.</a></p>
        <br>

</div><div class="box-footer"> </div></div>
</div>
</section>
