<!-- CV --> 

<section id="cv" class=bg-primary>

<div class="container">

            <div class="col-lg-12 text-center" style=color:#F37C20>
            <h2 class="section-heading">Curriculum Vitae
<div>
  <a href="/assets/KTD_CV.pdf" target="_blank" 
     style="color: #3B9F94; text-decoration: none; font-size: 24px; font-family: 'Avenir';"
     onmouseover="this.style.color='#F37C20';"
     onmouseout="this.style.color='#3B9F94';">
    Download
  </a>
</div>			</h2>
            
</div>
     <br>
<style>
  /* Hide the PDF object on small devices */
  @media (max-width: 1000px) {
    .hide-on-mobile {
      display: none;
    }
  }
</style>

<div class="row justify-content-md-center hide-on-mobile">
  <div class="col">
    <object 
      data="../assets/KTD_CV.pdf?#zoom=100&scrollbar=0&toolbar=0&navpanes=0" 
      width="100%" 
      height="1000" 
      type="application/pdf">
    </object>
  </div>
</div>
     </div>
   </div>
  </section>
<!-- End CV -->
