<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div style="color:black;" class="intro-heading" font-family: >The Halanych Lab</div>
            <div style="color:black;" class="text-center"><font size=10 face="Avenir">Marine Invertebrate Evolution and Systematics</div>
            <br>
            <a href="#about" class="page-scroll btn btn-xl">Learn more</a>
            <div>
            <br>
                <ul class="list-inline social-buttons" id="contact">
                    <li><a href="https://twitter.com/Icy_Inverts_AU"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://scholar.google.com/citations?user=T9MulP4AAAAJ&hl=en&oi=ao"><i class="ai ai-google-scholar ai-1.25x"></i></a>
                    </li>
<!--                    <li><a href="https://github.com/KyleTDavid"><i class="fa fa-github"></i></a>
                    </li> -->
                    <li><a href="mailto:ken@auburn.edu"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
