<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Kyle T. David</div>
            <div class="text-center"><font size=5 face="Avenir">PhD Candidate in the <a href="http://metazoan.auburn.edu/halanych/lab/">Halanych Lab</a> at Auburn University</div>
            <br>
            <a href="#research_interests" class="page-scroll btn btn-xl">Learn more</a>
            <div>
            <br>
                <ul class="list-inline social-buttons" id="contact">
                    <li><a href="https://twitter.com/KyleTheDavid"><i class="fa fa-twitter"></i></a>
                    </li>
                    <i class="ai ai-google-scholar-square ai-3x"></i>
                    </li>
                    <li><a href="https://github.com/KyleTDavid"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="mailto:kzd0038@auburn.edu"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
