<!-- People Section -->
<section id="people">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">People</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                  {% for element in site.data.people %}
                  {% if element.side == 'right' %}
                    <li class="timeline-inverted">
                  {% else %}
                    <li>
                  {% endif %}
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/assets/img/people/{{ element.image }}" alt="{{ element.img-alt }}">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ element.year }}</h4>
                                <h4 class="subheading">{{ element.name }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ element.text }}</p>
                            </div>
                        </div>
                    </li>
                  {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="peopleTable" align="center" style="margin-left: 190px; padding-top: 20px;">
<table style="font-size:40%;">  
<tr>
    <td>&nbsp;</td>
    <td style="font-size:110%;"><b><u>Past Personnel</u></b></td>
    <td style="font-size:110%;"><b><u>Current Location</u></b></td>
  </tr>
<tr>
    <td>&nbsp;</td>
    <td><a href="http://www.janosiklab.com/people.html" target="_blank">Viktoria Bogantes</a></td>
    <td>University of West Florida</td>
  </tr>
 <tr>
    <td>&nbsp;</td>
    <td><a href="https://as.vanderbilt.edu/rokaslab/people/" target="_blank">Li Yuanning</a></td>
    <td>Vanderbilt University</td>
  </tr>
 <tr>
    <td>&nbsp;</td>
    <td><a href="http://mattgalaska.wixsite.com/mpgalaska" target="_blank">Matt Galaska</a></td>
    <td>NOAA Seattle</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="https://www.rollins.edu/biology/faculty-staff-listing/" target="_blank">Pamela Brannock</td>
    <td>SUNY Oswego</td>
  </tr>  
  <tr>
    <td>&nbsp;</td>
    <td><a href="http://www.nathanwhelan.com"  target="_blank">Nathan Whelan</td>
    <td>US Fish & Wildlife</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="http://www.kocotlab.com" target="_blank">Kevin Kocot </a></td>
    <td>University of Alabama</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="http://joiecannon.weebly.com/" target="_blank">Johanna Cannon</a></td>
    <td>UC Santa Barbara</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="http://www.janosiklab.com/" target="_blank">Alexis Janosik</a></td>
    <td>Univ. Western Florida</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="https://scholar.google.com/citations?user=iyMRG-QAAAAJ&hl=en&oi=sra" target="_blank">Dan Thornhill </a></td>
    <td>National Science Foundation </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="http://tamug.academia.edu/LizBorda" target="_blank">Liz Borda</a></td>
    <td>Texas A&M University at Galveston</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="https://www.sites.google.com/a/acu.edu/hunter-lab/" target="_new">Rebecca Hunter </a></td>
    <td>Abilene Christian University</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Min Zhong</td>
    <td>Auburn University</td>
  </tr>
  <tr>
    <td><i>&nbsp;</i></td>
    <td><a href="http://people.cst.cmich.edu/mahon2a/MahonLab/Home.html" target="_blank">Andy Mahon</a> </td>
    <td>Central Michigan University</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Nerida Wilson </a></td>
    <td>Western Australian Museum </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="http://www.annelida.de" target="_blank">Torsten Struck </a></td>
    <td>Univ. of Olso Nat. History Museum </td>
  </tr>
  <tr>
    <td><i>&nbsp;</i></td>
    <td><a href="https://www.researchgate.net/profile/Robert_Jennings" target="_blank">Rob Jennings </a></td>
    <td>Temple University </td>
  </tr>
  <tr>
    <td><i>&nbsp;</i></td>
    <td><a href="https://scholar.google.com/citations?user=1qzEdXMAAAAJ&hl=en&oi=ao" target="_blank">Thomas Dahlgren</a></td>
    <td>Gothenberg University </td>
  </tr>
  <tr>
    <td><i>&nbsp;</i></td>
    <td><a href="http://www.whoi.edu/science/B/people/tshank/" target="_blank">Tim Shank</a></td>
    <td>Woods Hole Oceanographic Institution </td>
  </tr>
  <tr>
    <td><i>&nbsp;</i></td>
    <td><a href="https://www.researchgate.net/profile/Yale_Passamaneck" target="_new">Yale Passamaneck          </a> </td>
    <td>Bureau of Reclamation, Denver</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</div>
</table>
</section>
