<!-- Research Interests Section -->
<section id="research_interests" class="bg-primary">
	<style>
	p {
		text-align: justify;
	}

	@media screen and (max-width: 768px) {
		p {
			text-align: left;
		}
	}
	</style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style=color:#F37C20 >Research Interests</h2>
                	<p style=font-size:18px;text-align:center;margin:2em;margin-top:-2em;>I am an integrative biologist studying the macroevolutionary and macroecological consequences of genetic duplication and its role in generating novelty across molecules, phenotypes, and ecosystems.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                  
                  
                    <li>
                  
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/assets/img/research_interests/web1.gif" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" style=color:#C4D5F5>
                                <h4></h4>
                                <h4 class="subheading" style=color:#F37C20;text-align:center>Genetic Novelty</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Whole genome duplications are the largest mutations found in nature and often precede adaptive radiations, evolutionary novelties, and periods of environmental change. I use experimental and computational approaches to identify these genome duplication events across the tree of life to reconcile their short term consequences with long term evolutionary advantages.</p>
                            </div>
                        </div>
                    </li>
                  
                  
                    <li class="timeline-inverted">
                  
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/assets/img/research_interests/web2.gif" alt="image description">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" style=color:#C4D5F5>
                                <h4></h4>
                                <h4 class="subheading" style=color:#F37C20;text-align:center>Phenotypic Novelty</h4>
                            </div>
                            <div class="timeline-body">
                                <p>As the primary source of new genes in eukaryotes, duplication events are sometimes predicted to be drivers of phenotypic novelty. However, we lack understanding of whether innovation through duplication is a general feature of life, or restricted to a few examples. I develop and apply phylogenetic comparative methods to test the significance of gene and genome duplication in the evolution of novel traits and adaptation.</p>
                            </div>
                        </div>
                    </li>
                  
                  
                    <li>
                  
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/assets/img/research_interests/web3.gif" alt="image description">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" style=color:#C4D5F5>
                                <h4></h4>
                                <h4 class="subheading" style=color:#F37C20;text-align:center>Environmental Novelty</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Polyploids (organisms with >2 genome copies) are often found in new or fluctuating environmental conditions. I study the ecology and biogeography of polyploids to understand how they are better able to adapt to extreme, rapidly-changing environments such as areas threatened by human activities and polar regions</p>
                            </div>
                        </div>
                    </li>
                  
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
