<!-- Research Interests Section -->
<section id="research_interests" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <h2 class="section-heading">Research Interests</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                  {% for element in site.data.research_interests %}
                  {% if element.side == 'right' %}
                    <li class="timeline-inverted">
                  {% else %}
                    <li>
                  {% endif %}
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/assets/img/research_interests/{{ element.image }}" alt="{{ element.img-alt }}">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" style=color:#C4D5F5>
                                <h4>{{ element.year }}</h4>
                                <h4 class="subheading">{{ element.name }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="white">{{ element.text }}</p>
                            </div>
                        </div>
                    </li>
                  {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
